*,
*::before,
*::after {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
}

body {
  background-color: whitesmoke;
  position: relative;
  margin: 0 auto;
  padding: calc(1em + 1ex);
}

h1 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 900;
}

a:not(.block-link) {
  color: deeppink;
  transition: 200ms color;
  text-decoration: none;
}

a:not(.block-link):hover {
  color: inherit;
}

.block-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

.frame {
  background-color: snow;
  transition: 200ms box-shadow;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 1ex;
}

a.frame:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.animal {
  text-align: center;
}

.animal h1,
.animal h2,
.animal p {
  margin: 0;
}

.frame-image {
  position: relative;
  filter: sepia(0.5) contrast(1.4);
}

.frame-image::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  background-color: rgba(161, 44, 199, 0.31);
  mix-blend-mode: lighten;
}

.frame-image img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: black; /* If not found. */
}

figcaption > * { margin: 1ex 0; }
figcaption > :last-child { margin-bottom: 0; }

.frame-image-reveal figcaption {
  display: none;
}

@supports (-webkit-line-clamp: 1) {
  .frame-image-reveal figcaption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1ex;
    text-align: center;
    opacity: 0;
    transition: 200ms opacity;
  }

  .frame-image-reveal:hover figcaption,
  .frame-image-reveal:focus figcaption {
    opacity: 1;
  }

  .frame-image-reveal figcaption p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    margin: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: calc(1em + 1ex);
}

.grid img {
  height: 15em;
}

.container {
  max-width: calc(23em + 23ex);
  margin: auto;
}

.container .frame-image {
  width: 100%;
  height: 0;
  padding-top: 75%;
}

.container img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.capitalize {
  text-transform: capitalize;
}

dl {
  margin: calc(1em + 1ex) 0;
}

dt {
  float: left;
  font-weight: 900;
}

dt::after {
  content: ': ';
  font-weight: normal;
  display: inline-block;
  margin-right: 5px;
}

button,
input[type=submit i] {
  display: block;
  font: inherit;
  width: 100%;
}

button,
input[type=submit i],
.primary-action {
  padding: 1em;
  background-color: deeppink;
  color: whitesmoke;
  border: 1px solid currentcolor;
  border-radius: 2px;
  text-align: center;
  transition: background-color 200ms, color 200ms;
  animation: breathing 7s ease-out infinite normal;
}

input[type=submit i]:hover,
button:hover,
.primary-action:hover {
  background-color: whitesmoke;
  color: inherit;
  animation-play-state: paused;
}

.secondary-action {
  margin: 1ex 0;
  text-align: center;
}

@keyframes breathing {
  0% { transform: scale(1.025); }
  25% { transform: scale(1); }
  60% { transform: scale(1.025); }
  100% { transform: scale(1.025); }
}

label,
textarea,
select {
  display: block;
}

label {
  margin: calc(1em + 1ex) 0;
}

input:not([type]),
input[type=text i],
input[type=number i],
input[type=date i],
textarea,
select {
  display: block;
  background-color: snow;
  width: 100%;
  margin: 0;
  margin-top: 1ex;
  padding: 1ex;
  padding-right: calc(1em + 1ex); /* space for required asterisk */
  font: inherit;
  font-size: smaller;
  border: 0.0625em solid currentcolor;
  border-radius: 0.125em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

input[required],
select[required],
textarea[required] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="20" height="20"><text x="0" y="20" font-size="20" fill="red">*</text></svg>');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1em;
}
